/* Fuente del encabezado */
.navbar-brand,
.navbar-nav li a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Fondo del encabezado */
.navbar {
  background-color: #bfefff;
  /* Cambia esto por el color celeste que desees */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  /* Agrega un sombreado */
}


/* Espacio entre elementos del menú */
.navbar-nav li {
  margin-right: 10px;
}

/* Color del texto cuando se pasa el cursor por encima */
.navbar-nav li a:hover {
  color: #007bff;
  /* Cambia esto por el color que desees */
}

/* Color del texto cuando el enlace está activo */
.navbar-nav li.active a {
  color: #007bff;
  /* Cambia esto por el color que desees */
}