/* Estilos para centrar el contenido en el centro de la página */
html,
body {
  height: 100%;
}

.mat-card {
  max-width: 1000%;
  /* ajusta el ancho del card según tus necesidades */
  margin: auto;
}

.card-lg {
  width: 70%;
  height: 100%;
  padding: 20px;
}

input.form-control.ng-invalid.ng-touched,
input.form-control.ng-dirty.ng-invalid {
  border-color: red;
}

button[mat-fab] {
  margin-left: 10px;
}

button[mat-fab] mat-icon {
  margin: 0;
}

button[mat-fab]:focus {
  outline: none;
}

button[mat-fab]:hover {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}