<div class="d-flex justify-content-center align-items-center">
  <mat-card class="card-lg">
    <div class="card-header">
      <h1>{{ producto.id !== undefined ? 'Editar' : 'Nuevo' }} Producto</h1>
    </div>
    <div class="card-body">
      <div class="form-group"
        style="background: url({{formularioProducto.value.imagen}}) no-repeat center; background-size: contain; height: 400px;">
      </div>
      <form id="formulario" [formGroup]="formularioProducto" (ngSubmit)="guardarProducto()">
        <div class="form-group">
          <label for="id" class="mr-3">ID:</label>
          <div class="d-flex align-items-center">
            <input #id type="number" class="form-control mr-3" formControlName="id">
            <button type="button" color="primary" mat-fab aria-label="Escanear codigo"
              (click)="mostrarQRScanner();">
              <mat-icon>camera</mat-icon>
            </button>
          </div>
        </div>
        <!-- For camera -->
        <div *ngIf="showQRScanner">
          <ngx-scanner-qrcode #action="scanner" (event)="escaneado($event);action.stop();"
            class="mt-3"></ngx-scanner-qrcode>
          <!-- Loading -->
          <p *ngIf="action.isLoading">⌛ Loading...</p>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" formControlName="nombre">
          <div *ngIf="f['nombre'].invalid && (f['nombre'].dirty || f['nombre'].touched)">
            <div *ngIf="f['nombre'].errors.required">
              El nombre es obligatorio.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="imagen">Imagen:</label>
          <input type="text" class="form-control" formControlName="imagen">
          <div *ngIf="f['imagen'].invalid && (f['imagen'].dirty || f['imagen'].touched)">
            <div *ngIf="f['imagen'].errors.required">
              La imagen es obligatoria.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a [routerLink]="['/productos']" class="btn btn-secondary mx-auto">Cancelar</a>
      </form>
    </div>
  </mat-card>
</div>