<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="search">Buscar:</label>
          <input type="text" class="form-control" id="search" [(ngModel)]="searchTerm" (keyup)="filterProducts()">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of filteredProducts">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/200x200" alt="{{ product.nombre }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.nombre }}</h5>
            <p class="card-text">Cantidad: {{ product.id }}</p>
            <p class="card-text">Fecha Caducidad: {{ product.createAt }}</p>
            <div class="btn-group">
              <button class="btn btn-primary" (click)="increment(product)">+</button>
              <button class="btn btn-secondary" (click)="decrement(product)">-</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  